#menuLeft{position:absolute;width:228px;height:100%;background:url(../img/default/bg_head.jpg) repeat-y left;padding:0px 17px 0 10px;text-align:right;color:#666 }

#nameSite{margin:0 0 20px 0}

#nameSite img{width: 155px;}

#infoAdmin{margin-top:25px;font-size:14px;}

#infoAdmin a{color:#CCC;text-decoration:none;}

#infoAdmin a:hover{color:#fff;text-decoration:underline;}

#nameUser{color:white;}

.menuClass{width:243px;display:block;}

.itenSubMenu{width:245px;display:block;background:url(../img/default/bg-menu-item-green.gif) no-repeat right top;min-height:28px;padding:10px 0px 0 0px;}

.linkMenu{color:#fff;text-decoration:none;display:block;padding-right:20px;cursor:pointer;}

.subMenu{display:none;margin:0px 0px 10px 0}

.subMenu a{padding:8px 10px;color:#AAA;font-size:15px;line-height:1.5em;text-decoration:none;font-weight:normal;}

.subMenu a:hover{color:#FFF;}

.menuActive{background:url(../img/default/bg-menu-item-current.gif) no-repeat right top!important;font-weight:bold;}

.menuActive span{color:#000}

.menuItemActive{background:url(../img/default/menu-current-arrow.gif) no-repeat right center;}

.menuItemActive a{color:#FFF;}



#siteContent{margin:0 30px 0 290px;height:100%;display:block;}

#content{border:1px solid #CCC;top:10px;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;display:block;}

#separatorContentTop{height:10px;display:block;}

#formAdmin{padding:0 10px 0 10px;}

#contentForm{overflow:auto;}

#footer{height:20px;width:100%;position:absolute;bottom:0; border-top:dotted 1px black;background:url(../img/default/navi-bg.png) repeat-x left;color:#fff;text-align:center;font-size:13px;padding-top:5px;}



/* Tollbar */

#tollbar{height:10px;height:55px;display:block;background:url(../img/default/bg-content-box.gif) repeat-x; text-align:right;padding:3px 5px 0 0}

#mensTollbar{padding:10px;}

.iconTollbar{padding:0 5px 0 5px;display:inline-block;cursor:pointer;}



/* FORM admin */

.itenForm{padding:5px 0 10px;line-height:1.6em;}

.labelForm{display:block;font-weight:bold;}

.textInputBig{width:550px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; border:1px solid #D5D5D5;padding:6px;color:#333;font-size:13px;}

.textInputMiddle{width:350px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; border:1px solid #D5D5D5;padding:6px;color:#333;font-size:13px;}

.textInputSmall{width:200px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; border:1px solid #D5D5D5;padding:6px;color:#333;font-size:13px;}

.textAreaInputMiddle{max-width:350px;max-height:70px; width:350px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; border:1px solid #D5D5D5;padding:6px;color:#333;font-size:13px;height:70px;}

.inputNotification{display:block;padding:6px 6px 0px 18px;min-width:26px;min-height:26px;margin-left:10px;}

.selectSmall{width:200px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; border:1px solid #D5D5D5;padding:4px;color:#333;font-size:13px;}

.selectMiddle{width:350px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; border:1px solid #D5D5D5;padding:4px;color:#333;font-size:13px;}

.sucessField{background:url(../img/default/tick_circle.png) no-repeat left center;}

.errorField{background:url(../img/default/cross_circle.png) no-repeat left center;}

.submitFormEdit{cursor: pointer;display: inline-block;width: 18px;height: 18px;background: url("../img/default/pencilEdit.png") no-repeat center;}

.noneEdit{display: none;}

#mensErro{font-size:17px;color:#7A1B18;margin-top:22px;}

.tableListDefault{width:100%;border-collapse:separate;border:solid 1px #CCC;background:#E7E7E7;border-spacing:1px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;}

.tableListDefault th{background: #F0F0F0;border-left:1px solid #FFFFFF;color:#666666;text-align:left;padding:2px;font-weight:bold;}

.tableListDefault td{background:#fff;padding:3px;vertical-align: middle;}

.tableListDefault tr:hover td {background-color:#FFFFCC;}



.ativoPerfil{color:#060;}

.desativoPerfil{color:#C00;}

.errorForm{display:block;min-height:45px;}



/* Mensagem de erro*/

#maskError{position:absolute;width:100%;height:100%;background:url(../img/default/fundoMask.png); top:0;z-index:100;}

#contentMesError{min-width:200px;max-width:600px;position:absolute;top:25%;background:#FFF;z-index:101;min-height:100px;margin-left:50%; border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px; border:1px solid #D5D5D5;}

#cabecalhoMens{display:block;height:20px; text-align:center;padding-top:8px;background:#71B300;color:#fff;font-weight:bold;}

#closeError{width:24px;height:24px;cursor:pointer;float:right;display:block;background:url(../img/default/close.png) no-repeat center;margin:-26px 6px 0px -0px}

#contentMesError p{display:block;padding:10px 6px 0px 18px;min-width:26px;min-height:26px;margin-left:10px;}

.success{background:url(../img/default/tick_circle.png) no-repeat left center;}

.info{background:url(../img/default/info.png) no-repeat left center;}

.error{background:url(../img/default/cross_circle.png) no-repeat left center;}



/* Filtros */

.filter{border: 1.5px solid #ccc; margin-bottom: 10px;padding: 5px;}

.filter legend{margin-left: 10px;}

